<body>
  <div class="login">

      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <app-holder></app-holder>
      </ng-container>
      <ng-template #loggedOut>
        <div class="container">
          <div class="not-logged">
            <div class="title">Board Game Manager</div>
            <div class="spiel">
              <div>This Website is a project made by Adam Dodson with the angular framework supported by an SQL database and .NET API. please email me with any questions Adamdd@live.com.au</div>
              <br>
              <div>Please feel free to use a fake email as this is for showcase and educational purposes.</div>
            </div>
            <button mat-flat-button (click)="auth.loginWithRedirect()">Log in</button>
        </div>
        </div>


      </ng-template>
  </div>

</body>



