body
{
  display: flex;
  align-items:center;
  justify-content:center;
  background-image: url('../assets/splash.jpg');
  background-size: cover;
  background-position: center;
}

.container{
  height:100%;
}

.not-logged{
  display:flex;
  align-items:center;
  justify-content:center;
  height: min-content;
  flex-direction: column;
  height:100%;
}

.dimmer{
}

.login{
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.407);
}

button{
  font-size:150px;
  background-color: rgba(0, 0, 0, 0.588) !important;
  color:white;
  height:190px;
  margin:20px;
}

button:hover{
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.spiel{
  width:300px;
  font-size:20px;
  text-align:center;
  font-weight: bold;
}
.title{
  position: relative;
  font-size:70px;
  font-weight: bolder;
  height: 80px;
}

@media only screen and (max-width: 1200px) {

  .title{
    font-size: 30px;
  }

  button{
    font-size:50px;
    height: 70px;
  }

  .image{
    height: 150px;
  }

  .spiel{
    width:200px
  }
}
